{% extends 'bootstrap/base.html'%}

<title>{% block title %}{% endblock %}</title>

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='images/favicon.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.css')}}">
{% endblock %}

<!-- Navbar block  --> 
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block scripts %}
	<script src="/static/js/jquery-3.1.1.min.js"></script>
	<script src="/static/js/scripts.js"></script>
	{{super()}}
{% endblock %}