


body {
    line-height: 1;
    font: 16px/1 "Helvetica Neue",Helvetica,Arial,sans-serif;
    /* color: #666; */
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.m0 {
    margin: 0;
}

.mb0 {
    margin-bottom: 0;
}

.mb5 {
    margin-bottom: 5px;
}
.mb15 {
    margin-bottom: 15px;
}
.mt20 {
	margin-top: 20px !important;
}
.mt30 {
    margin-top: 30px;
}
.mt150 {
	margin-top: 150px;
}
.btn-no-radius {
    border-radius: 0;
}

.btn-primary {
	color: #fff;
    background-color: #5badf0;
    border-color: #2e6da4;
}

nav.main-nav {
    padding: 20px 20px 0;
    background: #fff;
    background: rgba(255,255,255,.9);
    margin: 0 auto;
    text-align: right;
    z-index: 100;
}

nav.main-nav a {
    top: 8px;
    right: 6px;
    padding: 8px 12px;
    color: #5badf0;
    font-size: 13px;
    line-height: 1.35;
    border-radius: 3px;
}

#post-list a, #post-nav a, a {
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -ms-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
}
#post-list a:hover, #title, #title:hover, a {
    text-decoration: none;
    color: #333;
}

nav.main-nav a.cta {
    background: #5badf0;
    color: #fff;
    margin-left: 12px;
    text-decoration: none;
}

.post header {
    text-align: center;
}

.post h1 {
    margin-bottom: 20px;
    color: #222;
    font: 300 32px/1.4em "Helvetica Neue",sans-serif;
}

.post h2.headline {
    font: 400 13px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: -5px 0 0;
    color: #b2b9be;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
}

p.small {
    color: #bbb;
    font-size: 14px;
    line-height: 1.5;
    display: block;
    margin-top: 20px;
    text-align: center;
}

#header p.small {
    margin-top: 0;
}

.registerUser p.small {
	font-size: 12px;
}

p a {
    color: #5694f1;
}

footer#footer {
	bottom: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 12px;
}

footer.registerUser#footer {
	bottom: auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.archive {
    margin: 0 0 50px;
    font-size: 16px;
}

.register-user .archive {
	margin: 0 0 0px;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

#post-list li {
    list-style-type: none;
    margin-bottom: 10px;
}

#post-list a {
    color: #333;
    display: block;
    font: 700 16px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif;
}

#post-list h2 {
    font: 400 14px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #aaa;
    max-width: 600px;
    margin-top: 2px;
}

#post-list li {
    list-style-type: none;
}
#post-list li {
    margin-bottom: 10px;
}

#post-list a {
    color: #333;
    display: block;
    font: 700 16px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif;
}

#post-list .dates {
    float: right;
    position: relative;
    top: 1px;
    font: 400 14px/1.8 "Helvetica Neue",helvetica,Arial,sans-serif;
    color: #bbb;
}

#post-list h2 {
    font: 400 14px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #aaa;
    max-width: 400px;
    margin-top: 2px;
    margin-bottom: 0;
}

#wrapper.home {
    padding: 0 40px 20px;
}

#wrapper, #wrapper.home, .register-user header {
    max-width: 700px;
    margin: 0 auto;
}

.register-user #wrapper, .register-user #wrapper.home, .register-user header {
    max-width: 500px;
    margin: 0 auto;
}

.login-page #wrapper, .login-page #wrapper.home, .login-page .register-user header {
    max-width: 500px;
    margin: 0 auto;
}

input.squared {
	padding: 16px 16px 14px;
	font-size: 11px;
    background: #fff;
    box-shadow: inset 0 0 0 1px #E4EBF2;
    height: auto;
    border: none;
    border-radius: 0;
	color:grey;

}

.btn-padding {
	padding: 16px 16px 14px;
}

img.logo {
    width: 40px;
    height: auto;
}

.profile #wrapper {
    padding: 0 40px 0;
    max-width: 700px;
    margin: 0 auto;
}

.profile #header {
    text-align: center;
    position: relative;
}

.profile #avatar {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    max-width: 100%;
}

.profile h1 {
    font-weight: 400;
    letter-spacing: 0;
    font-size: 20px;
    color: #222;
}
#tabs{
    background: #007b5e;
    color: #eee;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #5badf0;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 2px solid !important;
    font-size: 14px;
    font-weight: bold;
}
.nav.nav-tabs li.active a {
    border-color: transparent transparent
#f3f3f3;
    border-bottom-color: rgb(243, 243, 243);
    border-bottom: 2px solid !important;
    color: #5badf0;
    font-size: 14px;
    padding: .5rem 1rem;
    font-weight: 700;
}

.nav-fill .nav-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
    font-size: 14px;
}
.nav-link {
    /* display: block; */
    padding: .5rem 1rem;
}
.nav-tabs {
     border-bottom: none !important; 
}
.archive nav .nav-tabs a:hover {
    text-decoration: none;
    color: #5badf0;
}
.nav-tabs>li>a {
     margin-right: none;
     border: none;
     padding: .5rem 1rem;
}
.nav-tabs>li>a:hover {
     margin-right: none;
     border: none;
     text-decoration: none;
     color: #5badf0;
     background-color: white;
}

ul.nav.nav-tabs {
    font-size: 14px;
}

.pitches h3 {
    color: #222;
    font: 300 32px/1.4em "Helvetica Neue",sans-serif;
}

div.post-pitch textarea.form-control {
    border-radius: 0;
        box-shadow: inset 0 0 0 1px #E4EBF2;
        font-size: 11px;
        border:none;    
        font: 300 20px/1.4em "Helvetica Neue",sans-serif;
}

ul#post-list {
    max-height: 200px;
    overflow-y: scroll;
    padding-right: 10px !important;
}

#post-list::-webkit-scrollbar-track
{
    border-radius: 10px;
    background: transparent;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2); 
}

#post-list::-webkit-scrollbar
{
    width: 12px;
    border-radius: 10px;
    background-color: #F5F5F5;
}

#post-list::-webkit-scrollbar-thumb
{
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #5badf0;
}

#post-list::-webkit-scrollbar-thumb:hover {
  background: #5badf0; 
}
.categories .badge {
    position: absolute;
    font-size: 10px;
    font-weight: normal;
    right: -2px;
    top: -1px;
    line-height: 13px;
    background-color: #5badf0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 10px;
    padding: 2px 5px;
}

#post-list p {
    font: 300 15px/1.4em "Helvetica Neue",sans-serif;
}
small.votes {
    font: 300 12px/1.4em "Helvetica Neue",sans-serif;
}
