
body {
    line-height: 1;
    font: 16px/1 "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #666;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

nav.main-nav {
    padding: 20px 20px 0;
    background: #fff;
    background: rgba(255,255,255,.9);
    margin: 0 auto;
    text-align: right;
    z-index: 100;
}

nav.main-nav a {
    top: 8px;
    right: 6px;
    padding: 8px 12px;
    color: #5badf0;
    font-size: 13px;
    line-height: 1.35;
    border-radius: 3px;
}

#post-list a, #post-nav a, a {
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -ms-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
}
#post-list a:hover, #title, #title:hover, a {
    text-decoration: none;
    color: #5694f1;
}

nav.main-nav a.cta {
    background: #5badf0;
    color: #fff;
    margin-left: 12px;
}

.post header {
    text-align: center;
}

.post h1 {
    margin-bottom: 20px;
    color: #222;
    font: 300 32px/1.4em "Helvetica Neue",sans-serif;
}

.post h2.headline {
    font: 400 13px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: -5px 0 0;
    color: #b2b9be;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
}

p.small {
    color: #bbb;
    font-size: 14px;
    line-height: 1.5;
    display: block;
    margin-top: 20px;
    text-align: center;
}

p a {
    color: #5694f1;
}

footer#footer {
	bottom: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.archive {
    margin: 0 0 50px;
    font-size: 16px;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

#post-list li {
    list-style-type: none;
    margin-bottom: 10px;
}

#post-list a {
    color: #333;
    display: block;
    font: 700 16px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif;
}

#post-list h2 {
    font: 400 14px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #aaa;
    max-width: 600px;
    margin-top: 2px;
}

#wrapper.home {
    padding: 0 40px 20px;
}

#wrapper, #wrapper.home {
    max-width: 700px;
    margin: 0 auto;
}