{% extends 'base.html'%}
{% import 'macros.html' as macro%}


<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}
<!-- Content block -->


<!-- Content block -->
{% block content %}

<div class="container">
    <header>
        <h1>
            Flask Series: Model
        </h1>
        <h2 class="headline">
            Monday, Jul 13, 2015 19:12
            · 490 words
            · 3 minutes
            read
            <span class="tags">
                
                
                
                <a href="https://damyanon.net/tags/python/">python</a>
                
                <a href="https://damyanon.net/tags/flask/">flask</a>
                
                <a href="https://damyanon.net/tags/flask-series/">flask series</a>
                
                
                
            </span>
        </h2>
    </header>

</div>





{% endblock%}